/* Bob */
@-webkit-keyframes hvr-bob-right {
    0% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    50% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    100% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

@keyframes hvr-bob-right {
    0% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    50% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    100% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

@-webkit-keyframes hvr-bob-float-right {
    100% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

@keyframes hvr-bob-float-right {
    100% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

@-webkit-keyframes hvr-bob-left {
    0% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }

    50% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }

    100% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes hvr-bob-left {
    0% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }

    50% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }

    100% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@-webkit-keyframes hvr-bob-float-left {
    100% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes hvr-bob-float-left {
    100% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@-webkit-keyframes hvr-bob-top {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-top {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float-top {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float-top {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}


.page-rotateRightSideFirst {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-animation: rotateRightSideFirst .8s both ease-in;
    animation: rotateRightSideFirst .8s both ease-in;
}

@-webkit-keyframes rotateRightSideFirst {
    0% { }
    40% { -webkit-transform: rotateY(15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
    100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
}
@keyframes rotateRightSideFirst {
    0% { }
    40% { -webkit-transform: rotateY(15deg); transform: rotateY(15deg); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
    100% { -webkit-transform: scale(0.8) translateZ(-200px); transform: scale(0.8) translateZ(-200px); opacity:0; }
}



.page-moveFromRight {
    -webkit-animation: moveFromRight .6s ease both;
    animation: moveFromRight .6s ease both;
}



@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.page-moveToLeftEasing {
    -webkit-animation: moveToLeft .7s ease-in-out both;
    animation: moveToLeft .7s ease-in-out both;
}

@-webkit-keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

.page-rotateLeftSideFirst {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: rotateLeftSideFirst .8s both ease-in;
    animation: rotateLeftSideFirst .8s both ease-in;
}


@-webkit-keyframes rotateLeftSideFirst {
    0% { }
    40% { -webkit-transform: rotateY(-15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
    100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
}
@keyframes rotateLeftSideFirst {
    0% { }
    40% { -webkit-transform: rotateY(-15deg); transform: rotateY(-15deg); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
    100% { -webkit-transform: scale(0.8) translateZ(-200px); transform: scale(0.8) translateZ(-200px); opacity:0; }
}

.page-moveFromLeft {
    -webkit-animation: moveFromLeft .6s ease both;
    animation: moveFromLeft .6s ease both;
}

@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

.page-delay200 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hover {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hover:hover > i, .hover:focus > i, .hover:active > i {
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}