* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/j.jpg");
}

body {
    overflow-x: hidden;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    width: 100%;
}

/*.main_content {*/
/*border-top: solid;*/
/*border-bottom: solid;*/
/*border-width: 1px;*/
/*border-color: #F34A53;*/
/*}*/

.emphasis_color {
    color: #F34A53;
    font-weight: bold;
}


