
#social_container {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_button {
    font-size: 3rem;
    /*color: rgba(255, 255, 255, 0.6);*/
}

.social:hover > i, .social:focus > i, .social:active > i {
    -webkit-animation-name: hvr-bob-float-top, hvr-bob-top;
    animation-name: hvr-bob-float-top, hvr-bob-top;
}

.social_text {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 200;
}

.social_text:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: white;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.social:hover > .social_text:before, .social:focus > .social_text:before, .social:active > .social_text:before {
    left: 0;
    right: 0;
}


#contact textarea {
    height: 150px;
    resize: vertical;
}

#social_container {
    background-color: #1EAEDB;;
    color: white;
    padding: 60px 0;
}

#contact {
    padding-bottom: 0;
    border-bottom: none;
}