
@import url("animation.css");
@import url("common.css");

@import url("home.css");
@import url("navigation.css");
@import url("skills.css");
@import url("experience.css");
@import url("projects.css");
@import url("contact.css");
