#navigation_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    color: white;
    padding: 7px 0;
    /*border-bottom: solid white 1px;*/
    flex-shrink: 0;
}

.navigation_menu_button {
    position: relative;
    font-size: 16px;
    width: 175px;
    height: 25px;
    margin-right: 20px;
    font-weight: 200;

    line-height: 25px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    padding: 4px 0 4px 3px;
    /*border-left: solid;*/
    /*border-right: solid;*/
    /*border: solid white 1px;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
}

.navigation_menu_button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


.current, .current:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    cursor: default;
}

.navigation {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    /*color: #4B515D;*/
    color: white;
}

.navigation:hover > i {
    color: #F34A53;
}

.navigation_left:hover > i, .navigation_left:focus > i, .navigation_left:active > i {
    -webkit-animation-name: hvr-bob-float-left, hvr-bob-left;
    animation-name: hvr-bob-float-left, hvr-bob-left;
}

.navigation_right:hover > i, .navigation_right:focus > i, .navigation_right:active > i {
    -webkit-animation-name: hvr-bob-float-right, hvr-bob-right;
    animation-name: hvr-bob-float-right, hvr-bob-right;
}