.page3 {
    flex-direction: column;
}

.page3 .main {
    background-color: rgba(0, 0, 0, 0.5);
}

.page3 img {
    width: 150px;
}

.company_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.company_text {
    width: 600px;
    text-align: start;
    margin-left: 50px;
}