.page1 {
    /*background-color: #7bb7fa;*/
    /*background-color: white;*/
    font-size: 40px;
    color: black;
}

#text1 {
    /*color: #F34A53;*/
    color: white;
    font-weight: normal;
    margin-right: 10px;
}

#line2 {
    font-weight: bold;
}

#text2 {
    color: #F34A53;
    color: white;
}

#text3 {
    color: #5477F9;
    color: white;
    color: #F34A53;
}

#line2 {
    display: flex;
    flex-direction: row;
}

#text2 {
    margin-right: 10px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
}