* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url("../img/j.jpg");
}

body {
    overflow-x: hidden;
}

#footer {
    /*border-top: solid white 1px;*/
    /*background-color: white;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.fa-chevron-right {
    float: right;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-grow: 1;*/
    /*font-size: 50px;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-weight: bold;*/
    /*background-color: #3E4551;*/
}

.main_content {
    display: flex;
    flex-direction: column;
}

#type_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#social_container {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_button {
    font-size: 25px;
    color: white;
}


.social:hover > i, .social:focus > i, .social:active > i {
    -webkit-animation-name: hvr-bob-float-top, hvr-bob-top;
    animation-name: hvr-bob-float-top, hvr-bob-top;
    color: #F34A53;
}

#text_container {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
}

.text_small {
    font-size: 18px;
    margin-right: 4px;
}

.text_big {
    font-size: 28px;
    margin-right: 4px;
}

#next_container {
    display: flex;
    flex-direction: row;
}

#next {
    display: inline;
}

.social_text {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    font-size: 6px;
    color: white;
}

.social_text:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: white;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.social:hover > .social_text:before, .social:focus > .social_text:before, .social:active > .social_text:before {
    left: 0;
    right: 0;
}

.perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.page-current,
.no-js .page {
    visibility: visible;
}

.no-js body {
    overflow: auto;
}

.page-ontop {
    z-index: 999;
}

.page-1 {
    /*background-color: #7bb7fa;*/
    /*background-color: white;*/
    font-size: 40px;
    color: black;
}

#text1 {
    /*color: #F34A53;*/
    color: white;
    font-weight: normal;
    margin-right: 10px;
}

#line2 {
    font-weight: bold;
}

#text2 {
    color: #F34A53;
    color: white;
}

#text3 {
    color: #5477F9;
    color: white;
    color: #F34A53;
}

.page-1 > .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#line2 {
    display: flex;
    flex-direction: row;
}

#text2 {
    margin-right: 10px;
}

.text_hand {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
}

/*.circle {*/
/*width: 100px;*/
/*height: 100px;*/
/*border: 2px solid #3E4551;*/
/*border-radius: 50%;*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*}*/

.circle {
    /*border: 2px solid #3E4551;*/
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.circle > div {
    color: black;
    font-size: 24px;

}

.page-2 img {
    width: 70px;
    height: 70px;
}

#javascript {
    border: solid #F2D50A;
}

#css {
    border: solid #0170BA;
}
#git {
    border: solid #F05133;
}
#java {
    border: solid #E9232E;
}
#jquery {
    border: solid #0868AC;
}
#html {
    border: solid #F16529;
}

#cpp {
    border: solid #5C8DBC;
}



.page-2 .main_content {
    flex-grow: 1;
    height: 100%;
}

.skills_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-2 {
    /*background-color: #5477F9;*/
    /*background-image: url("../img/m.jpg");*/
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.page-3 {
    background-color: #fd6a62;
}

.navigation {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    /*color: #4B515D;*/
    color: white;
}

.navigation_left:hover > i, .navigation_left:focus > i, .navigation_left:active > i {
    -webkit-animation-name: hvr-bob-float-left, hvr-bob-left;
    animation-name: hvr-bob-float-left, hvr-bob-left;
}

.navigation_right:hover > i, .navigation_right:focus > i, .navigation_right:active > i {
    -webkit-animation-name: hvr-bob-float-right, hvr-bob-right;
    animation-name: hvr-bob-float-right, hvr-bob-right;
}

.hover {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hover:hover > i, .hover:focus > i, .hover:active > i {
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.page-3 .main_content {
    justify-content: center;
}

.page-3 img {
    width: 150px;
}

.company_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.company_text {
    width: 600px;
    text-align: start;
    margin-left: 50px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
}

