body {
  font-family: "Jost", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin: 0;
}

.main-container {
  width: 800px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.background {
  width: 800px;
}

.bold {
  font-weight: 500;
}

.logo {
  display: inline-block;
  height: 24px;
  vertical-align: sub;
}
