* {
    font-family: "Raleway", sans-serif;
}


body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body > div {
    display: flex;
    flex-direction: row;
}

body > div > div {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: lightgray;
}

.solution, .green {
    background-color: rgba(0, 255, 0, 0.2);
}

.start {
    font-size: 12px;
    position: absolute;
    top: 0;
    color: green;
}

.input {
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.solution_position {
    position: absolute;
    font-size: 12px;
    right: 0;
    bottom: 0;
}

#url {
    line-height: 40px;
}

#solution > .field {
    background-color: rgba(0, 255, 0, 0.2);
}

#solution {
    display: flex;
    flex-direction: column;
}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.question {
    margin-bottom: 5px;
}

#solution_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


span {
    color: green;
}


