* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#colors {
    display: flex;
    justify-content: space-between;
    width: 402px;
    flex-wrap: wrap;
}


#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-bottom: 100px;
}

#icon_container {
    width: 50vw;
    height: 100vh;
    display: flex;
    /*background: linear-gradient(0deg, #c2e59c, #64b3f4 100%) no-repeat;*/
    /*background-color: #64b3f4;*/
    flex-grow: 1;
    overflow:auto;
    background-color: #EB3349;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 1000px;
    color: white;
}

#canvas {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(../img/grid.png);
}


.fa {
    font-size: 30px;
}

.icon_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 125px;
}

.icon {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.icon:hover {
    opacity: 0.7;
}

.icon:active {
    opacity: 0.5;
}

.icon_text {
    font-size: 12px;
    margin-top: 5px;
}


#search_container {
    margin-top: 20px;
    margin-bottom: 0;
}


.minicolors-theme-default .minicolors-swatch {
    top: 6px;
    border-color: #EB3349;
}

.color_picker {
    border: 1px solid #EB3349;
    color: #EB3349;
    width: 187px;
}

#color, #background_color {
    padding-left: 35px;
    width: 155px;
}

.color_picker:focus {
    box-shadow: 0 0 7px #EB3349;
}



#download {
    background-color: #EB3349;
    font-size: 14px;
    width: 400px;
    height: 30px;
    border: 1px solid #EB3349;
    border-radius: 5px;
    color: white;
    padding: 0;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}



#download:hover {
    background-color: white;
    color: #EB3349;
}

#download:active {
    background-color: white;
    color: #EB3349;
}

input {
    font-size: 14px;
    width: 390px;
    height: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    padding: 5px 0 5px 10px;
    background: 0 0;
    color: #EB3349;
    border: 1px solid #EB3349;
    border-radius: 5px;
    margin-bottom: 10px;
}

input:focus {
    box-shadow: 0 0 7px #fff;
}

#size {
    padding-left: 0;
    border: none;
    width: 402px;
}


*::-webkit-input-placeholder {
    color: #EB3349;
    opacity: 0.5;
}

*:-moz-placeholder {
    color: #EB3349;
    opacity: 0.5;
}

*::-moz-placeholder {
    color: #EB3349;
    opacity: 0.5;
}

*:-ms-input-placeholder {
    color: #EB3349;
    opacity: 0.5;
}

.minicolors-swatch-color {
    cursor: pointer;
}


@media screen and (max-width: 720px) {

    #colors {
        justify-content: center;
    }

    #color {
        margin-bottom: 10px;
    }

    #color, #background_color {
        width: 80vw;
    }

    #download {
        width: 80vw;
    }

    input {
        width: 80vw;
    }

    #size {
        width: 80vw;
    }

    #icon_container {
        width: 100vw;
        justify-content: center;
    }
}


.icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.icon:hover, .icon:focus, .icon:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.minicolors-theme-default .minicolors-swatch {

    border: solid;
    /*border-right: solid;*/
    border-width: 1px;
    border-color: #EB3349;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    border-radius: 5px 0 0 5px;
}

.minicolors-swatch-color {
    border: solid;
    border-color: #EB3349;
    border-width: 1px;
    width: 30px;
    height: 30px;
    top: -1px;

    border-radius: 5px 0 0 5px;
    left: -1px;
}
