* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

canvas {
    display: none;
}

h2 {
    margin-bottom: 5px;
    color: #6D8B64;
}

h5 {
    margin-bottom: 10px;
    text-align: center;
}

#drop {
    width: 40%;
    height: 35%;
    background-color: #CDEBC4;
    color: #6D8B64;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


input[type="file"] {
    display: none;
}

#inputButton {
    width: 40%;
    height: 50px;
    background-color: #CDEBC4;
    color: #6D8B64;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

#inputButton > i {
    margin-right: 5px;
}

#inputButton:hover {
    color: white;
}