* {
    font-family: "Raleway", sans-serif;
}


table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

td {
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
}


.input {
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: lightgray;
}

#solution > .sol > .input {
    background-color: rgba(0, 255, 0, 0.2);
}

#url {
    line-height: 40px;
}

#solution {
    display: flex;
    flex-direction: row;
}

#guide {
    margin-bottom: 10px;
}

span {
    font-size: 30px;
}

#yes {
    color: greenyellow;
}

#no {
    color: red;
    text-decoration: line-through;
}